<template>
    <form @submit.prevent="onSubmit">
        <input type="text" v-model="title">
        <button type="submit">creat todo</button>
    </form>
</template>

<script>
	export default {
		name: "AddTodo",
		data() {
			return {
				title: ''
			}
		},
		methods: {
			onSubmit() {
				if (this.title.trim()) {
					const todo = {
						id: Date.now(),
						title: this.title,
						complited: false
					}

                    this.$emit('add-todo', todo);
                    this.title = ''
				}

			}
		}
	}
</script>

<style scoped>
    input {
        width: 350px;
    }
</style>
