<template>
    <li>
        <span v-bind:class="{done: todo.completed}">
            <input type="checkbox"
                   v-on:change="todo.completed = !todo.completed">
            <em>{{index + 1}}</em>
            {{todo.title}}
        </span>
        <button v-on:click="$emit('remove-todo', todo.id)">&times;</button>
    </li>
</template>

<script>
	export default {
		name: "TodoItem",
		props: ['todo', 'index']
	}
</script>

<style scoped>
    li {
        display: flex;
        justify-content: space-between;
        width: 400px;
        margin: 10px auto;
        padding: 5px;
        border: 1px solid black;
        border-radius: 10px;
    }

    button {
        background-color: red;
        color: white;
        border-radius: 5px;
    }

    .done {
        text-decoration: line-through;
    }
</style>
