<template>
    <ul>
        <TodoItem
                v-for="(todo, i) of todos"
                v-on:remove-todo="removeTodo"
                v-bind:todo="todo"
                v-bind:index="i"/>
    </ul>
</template>

<script>
	import TodoItem from "./TodoItem";

	export default {
		name: "TodoList",
		props: ['todos'],
		methods: {
			removeTodo(id) {
				this.$emit('remove-todo', id)
			}
		},
		components: {
			TodoItem
		}
	}
</script>

<style scoped>
    ul {
        list-style: none;
    }
</style>
